body::before{
    display: block;
    content: '';
    height: 60px;
}

@media (min-width: 768px) {
    .news-input{
        width: 50%;
    }
}

.btn-xlarge {
    padding: 15px 56px;
    font-size: 24px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

img {
    cursor: pointer;
}